<div class="container">
    <div class="header-container">
        <div class="header">Create Monster</div>
    </div>
    <div class="select-row">
        <img src="../../assets/arrow-left.svg" class="arrows left-arrow" (click)=clickLeftArrow($event)>
        <img [src]="selectElementalLogo()" class="elementals-logo ">
        <img src="../../assets/arrow-right.svg " class="arrows right-arrow " (click)=clickRightArrow($event)>
    </div>
    <input type="text " class="name " placeholder="The name of your Monster... ">
    <div class="setters ">
        <div class="atk ">
            <img src="../../assets/attack.svg " class="logo atk-logo ">
            <div class="value atk-value ">{{atk}}</div>
            <div class="setter-icons "> <img class="plus-minus plus " src="https://img.icons8.com/ios-glyphs/30/000000/plus.png " (click)="clickAtkPlus($event) " />
                <img class="plus-minus minus " src="https://img.icons8.com/ios-glyphs/30/000000/minus.png " (click)="clickAtkMinus($event) " />
            </div>
        </div>
        <div class=" def ">
            <img src="../../assets/defense.svg " class="logo def-logo ">
            <div class=" value def-value ">{{def}}</div>
            <div class="setter-icons "> <img class="plus-minus plus " src="https://img.icons8.com/ios-glyphs/30/000000/plus.png " (click)="clickDefPlus($event) " />
                <img class="plus-minus minus " src="https://img.icons8.com/ios-glyphs/30/000000/minus.png " (click)="clickDefMinus($event) " />
            </div>
        </div>
    </div>
    <button class=" add-btn " (click)="addMonster($event)">Add Monster</button>

    <div class="monsters-component">
        <monsters></monsters>
    </div>
</div>