$primary-background-color:#272727;
$primary-font-color: #ddd3d3;
.container {
    margin-top: 70px;
    margin-bottom: 100px;
    border-radius: 5%;
    width: 1200px;
    height: 1150px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color: $primary-background-color;
    color: $primary-font-color;
    font-size: 2.6rem;
    font-weight: bold;
    padding: 100px;
    border: 10px solid black;
    .monsters-component {
        margin-top: 7rem;
    }
    .header {
        display: flex;
        text-align: left;
        justify-content: left;
        float: left;
        font-size: 6rem;
        font-size: bold;
        border-radius: 15%;
        margin-bottom: 40px;
    }
    .select-row {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        height: 100px;
        flex-wrap: wrap;
        display: inline-flex;
        box-sizing: border-box;
        width: 100%;
        justify-content: space-between;
        margin: 20px;
        .right-arrow,
        .left-arrow {
            height: 50px;
            width: 50px;
        }
        .arrows {
            height: 120px;
            width: 120px;
            padding: 10px;
            border: 3px solid white;
            background-color: black;
            border-radius: 10%;
        }
        .elementals-logo {
            height: 140px;
            width: 140px;
            border-radius: 10%;
        }
    }
    .name {
        margin-top: 70px;
        height: 90px;
        width: 60%;
        font-size: 2.4rem;
        border-radius: 10%;
        font-family: 'Goldman', cursive;
        padding: 10px;
    }
    .name:focus {
        font-family: 'Goldman', cursive;
        color: #272727;
        outline: none;
        background-color: #e4cdcd;
    }
    .setters {
        display: flex;
        flex-direction: row;
        height: 100px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 60%;
        justify-content: space-between;
        margin: 20px;
    }
    .atk-logo,
    .def-logo {
        padding: 5px;
        border: 3px solid white;
        border-radius: 10%;
        margin-top: 40px;
        padding: 0;
        width: 120px;
        height: 120px;
    }
    .value {
        font-size: 8rem;
        font-weight: bolder;
    }
    .plus-minus {
        width: 80px;
        height: 80px;
        margin: 20px;
    }
    .plus {
        background-color: rgb(21, 104, 21);
        border-radius: 20%;
    }
    .plus:active {
        background-color: rgb(102, 187, 102);
    }
    .minus {
        background-color: rgb(184, 27, 27);
        margin-right: 10px;
        border-radius: 20%;
    }
    .minus:active {
        background-color: rgb(238, 78, 78);
    }
    .add-btn {
        width: 800px;
        height: 80px;
        margin-top: 420px;
        border-radius: 10%;
        font-weight: bold;
        font-size: 3.5rem;
        font-family: 'Goldman', cursive;
        border: 8px solid black;
    }
    .add-btn:active {
        background-color: #e4cdcd;
    }
    .add-btn:focus {
        outline: none;
    }
}