* {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 300%;
    width: 90%;
    font-family: 'Goldman', cursive;
}

.header {
    font-size: 4rem;
    font-weight: bold;
}